@import url('https://fonts.googleapis.com/css?family=Quicksand');

nav {
	display: flex;
	justify-content: space-around;
	background-color: rgb(57, 52, 52);
}
a {
	margin-top: 1%;
	margin-bottom: 1%;
	text-decoration: none;
	font-size: 20px;
	color: white;
	font-weight: 900;
}
body {
	font-family: 'Quicksand', sans-serif;
}
.browseHeadings {
	color: rgb(57, 52, 52);
	text-align: center;
}
.readContainer {
	display: flex;
	/* flex-wrap: wrap; */
	justify-content: center;
	justify-content: space-evenly;
}
.browseTitle {
	color: rgb(131, 10, 10);
	font-size: 40px;
	font-weight: 900em;
}
.center {
	margin: 0 auto;
	text-align: center;
}
.searchCountryField {
	height: 75px;
	width: 400px;
	font-size: 30px;
	font-style: italic;
	text-align: center;
}
.searchHeading {
	margin-top: 5%;
}
